@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

img{
  max-height: 100%;
}

input, textarea, select{
  @apply border-2 border-gray-300 rounded-md px-1 w-full;
  @apply mb-2;
}

input:focus, textarea:focus, select:focus {
  @apply border-blue-900
}

h1
{
  @apply text-blue-900 mb-2 text-xl;
}

label
{
  @apply text-blue-900;
}

.btn-primary {
  @apply bg-blue-900 text-white px-4 py-1 rounded-md;
}

.btn-default,.btn-red
{
  @apply px-4 py-1 rounded-md;
}

.btn-red
{
  @apply bg-red-800 text-white;
}
.btn-default
{
  @apply bg-gray-500 text-white;
}

table.basic tr td{
@apply border border-blue-700 p-1;
}

table.basic{
@apply w-full;
}

table.basic thead tr td {
@apply bg-blue-100;
}

table.basic a 
{
  @apply bg-blue-900 text-white text-sm p-1 rounded-md py-1 px-2 inline-flex gap-1 mr-1;
}




